.formContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  border-radius: 1rem;
  background: #fff;
  padding: 1.6rem;
  width: 24rem;
  /* min-height: 21rem; */
  /* position: fixed; */
}

.toprow {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  margin: 0 0 2rem 0;
}

/* .title {
  font-size: 1rem;
} */

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 0.5rem 0;
}

.descriptor {
}

.field {
  /* display: flex; */
  /* background-color: lightgreen; */
}

/* .field select */

/* select:focus {
  outline: none;
} */

/* Input date had font specified so need to overwrite */
.formContainer input,
.formContainer select {
  /* margin: 0 0 1rem 0; */
  height: 2rem;
  width: 100%;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.5rem;
  padding: 0 0 0 0.5rem;
  border: 1px solid rgb(72, 72, 72);
}

.close {
  display: flex;
  /* position: absolute; */
  justify-content: flex-end;
  align-items: center;
  /* width: 100%; */
}

.close i,
.delete i {
  /* justify-self: flex-end; */
  cursor: pointer;
  /* background-color: yellow; */
}

.delete {
  display: flex;
  /* position: absolute; */
  justify-content: flex-start;
  align-items: center;
  /* width: 100%; */
  margin: 1.5rem 0 0 0;
}

.input {
  margin: 0 0 0.5rem 0;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: transparent;
  padding: 0 1rem;
  height: 3rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

.submitBtn {
  outline: none;
  border: none !important;
  border-radius: 8px !important;
  background-color: #34b9e0;
  height: 3rem !important;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.submitBtn:hover {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  cursor: pointer;
}
