.container {
  display: flex;
  flex-direction: column;
  background-color: #142828;
}

.widget {
  width: 100%;
}

.filterWidget {
  margin-bottom: 2px;
  background-color: #274046;
  padding: 20px;
  white-space: nowrap;
  color: #fff;
  min-height: 100px;
}
