.categoryMenu {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  /* justify-content: center; */
  align-items: center;
  padding: 1rem;
  font-size: 0.875rem;
}

.categoryMenu li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.2rem 0;
  padding: 0.5rem 0.25rem;
  width: 100%;
}

.count {
  position: absolute;
  right: 0;
  /* font-size: 0.8rem; */
  font-weight: bold;
  margin: 0.5rem 0.25rem;
}

.selected {
  color: #fff;
  background-color: #4bc2ff;
  font-weight: bold;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.notSelected {
  background-color: #dee0e1;
}

.notSelected:hover {
  background: rgb(240, 240, 240);
}

.categoryMenu li div {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}
